.button {
  height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid transparent;
  &.primary {
    background: var(--custom-color-primary);
  }
  &.outline {
    border-color: rgba(28, 33, 53, 0.15);
  }
  &.secondary {
    color: white;
    background-color: var(--custom-color-secondary);
    border-color: var(--custom-color-secondary);
  }
  &.primary2 {
    background: var(--custom-color-primary);
    color: white;
  }
}
.full {
  width: 100%;
  border-radius: 8px;
}
