#nprogress .bar {
    height: 4px !important;
    background: red !important;
}

.nav a:hover {
    border-radius: 0px;
}

/* header */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height:95px;
}
.header-container{
    display: flex;
    align-items: center;
}

.header-logo{
    width:114px;
    margin-right: 100px;
    cursor: pointer;
}

.header-top-nav{
    display: flex;
    margin-right: 60px;
}

.header-top-nav ul{
    display: flex;
    list-style: none;
}

.header-top-nav ul li{
    margin-left:60px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.header-user{
    display: flex;
    align-items: center;
    margin-left:100px;
}
.header-heart-img{
    width:24px;
    height: 24px;
}

.header-cart-img{
    width:24px;
    height: 29px;
    margin-right: 20px;
    margin-top:4px;
}

.header-auth-btn{
    margin-right: 40px; 
    display: flex;
    align-items: center;   
    list-style-type: none;
}

.header-auth-btn-register{
    width: 114px;
    height: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #060C44;
    color: #fff;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
    border-radius: 16px;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-auth-btn-login{
    margin-right: 20px;
    width: 114px;
    height: 50px;
    color:#1C2135;
    background-color: #fff;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
    border: 1.5px solid #B3BAC3;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



/* header nav */
.header-nav{
    height: 60px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFB703;
    list-style: none;
}

.nav-item{
    margin-left: 60px;
}

.nav-item a{
    display: flex;
}

.nav-item a a{
    margin-left:10px;
}

.nav-link-text{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #fff;
}

.nav-link-text img{
    margin-right: 10px;
    color: #fff;
}



/* Menu */
.dropdown{
    display: none;
    z-index: 1;
}

.header-user:hover .dropdown{
    display: block;
}


@media screen and (max-width: 1251px) {
    .header-logo{
        margin-right: 50px;
    }
    .header-user{
        margin-left:50px;
    }
    .header-top-nav ul li{
        margin-left:30px;
    }
  }

@media screen and (max-width: 1100px) {
    .header-auth-btn-register{
        width:90px;
    }

    .header-auth-btn-login{
        width:90px;
    }


    .header-top-nav {
        margin-right: 20px;
    }
    .header-auth-btn {
        margin-right: 20px;
    }
    .header-top-nav ul li{
        font-size: 16px;
    }
}

@media screen and (max-width: 920px) {
    .header {
        height: 80px;
    }
    .header-nav{
        height: 50px;
    }
    .header-logo{
        margin-right: 25px;
    }
    .header-user{
        margin-left:25px;
    }
    .header-top-nav ul li{
        margin-left:30px;
    }
    .header-top-nav{
        display: none;
    }
    .nav-link-text img{
        margin-right:5px;
    }
    .nav-item {
        margin-left:40px;
    }
  }

  @media screen and (max-width: 600px) {
    .header {
        height: 70px;
    }
    .header-logo{
        width:100px;
        margin-right:10px;
    }
    .header-user{
        margin-left:10px;
    }
    .header-auth-btn{
        margin-right: 10px;
    }
    .header-auth-btn-login{
        width:80px;
        height: 40px;
        margin-right: 10px;
    }
    .header-auth-btn-register{
        width:80px;
        height: 40px;
    }
    .header-heart-img {
        display: none;
    }
    .nav-link-text{
        font-size: 16px;
    }
    .nav-item {
        margin-left:20px;
    }
  }