.subheader {
  padding: 16px;
  background: var(--custom-color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 32px;
  .subheaderMenuItem {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .subheaderMenuItemIcon {
    height: 16px;
    width: 16px;
  }
}
