.courseCard {
  width: 224px;
  padding: 8px;
  border-radius: 16px;
  box-shadow: 0px 0px 40px 0px #dee8f1;
  display: flex;
  flex-direction: column;
  &:hover {
    background-color: #f3f3f3;
  }
  img {
    width: 100%;
    height: 146px;
    margin-bottom: 16px;
    border-radius: 12px;
    object-fit: cover;
  }
  .title {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 700;
  }
  .description {
    margin-bottom: 8px;
    font-size: 12px;
  }
  .duration {
    // margin-bottom: 4px;
    font-size: 12px;
    color: #0e695c;
    display: inline-flex;
    align-items: center;
    gap: 2px;
  }
  .playIcon {
    height: 16px;
    width: 16px;
  }
  .price {
    // margin-bottom: 4px ;
    font-size: 12px;
    color: #0e695c;
    span {
      font-size: 14px;
      font-weight: bold;
    }
  }
  .divider {
    height: 1px;
    background-color: var(--custom-color-primary);
  }
  footer {
    padding: 4px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    .rating {
      display: inline-flex;
      align-items: center;
      gap: 2px;
      .ratingIcon {
        height: 10px;
        width: 10px;
        color: var(--custom-color-primary)
      }
    }
  }
}
