.subheader {
  padding: 16px;
  background: var(--custom-color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  .subheaderMenuItem {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .subheaderMenuItemIcon {
    height: 16px;
    width: 16px;
  }
}

.container {
  max-width: 100%;
  margin: 0 auto;
  @media (min-width: 768px) {
    max-width: 1140px;
  }
}

.hero {
  margin-bottom: 16px;
  padding: 32px 16px;
  padding-bottom: 0;
  background-image: url("/assets/index-page/hero-background.svg");
  background-size: cover;
  background-color: #1f2335;
  overflow: hidden;
  .container {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
      align-items: flex-end;
    }
    .heroTexts {
      display: flex;
      flex-direction: column;
      gap: 32px;
      color: white;
      align-items: center;
      @media (min-width: 768px) {
        align-items: flex-start;
      }
      .heroHeadline {
        font-size: xx-large;
        @media (min-width: 768px) {
          font-size: 64px;
          font-weight: bold;
        }
      }
      .heroTextSmall {
        font-size: small;
        @media (min-width: 768px) {
          font-size: 18px;
        }
      }
      .heroCta {
        margin: 16px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        @media (min-width: 768px) {
          flex-direction: row;
        }
        .heroCtaProfilePictures {
          display: flex;
          img {
            height: 48px;
            width: 48px;
            border-radius: 100%;
            border: #1f2335 solid 2px;
            margin-left: -16px;
            &:last-child {
              margin-left: 0;
            }
          }
        }
      }
    }
    .heroImage {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (min-width: 768px) {
        transform: scale(1.5);
        transform-origin: bottom;
      }
    }
  }
}

.onlineCoursesSelectionSection {
  padding: 16px;
  h2 {
    font-size: 24px;
  }
}

.coursesListSection {
  .coursesListSectionHeader {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  h2 {
    font-size: 24px;
  }
  a.seeMoreLink {
    font-size: 16px;
    color: #6f7e8f;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    svg {
      height: 16px;
      width: 16px;
    }
  }
  .cardList {
    padding: 40px 40px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    overflow-x: auto;
  }
}

.testimonySection {
  padding: 32px;
  background-image: url("/assets/index-page/hero-background.svg");
  background-color: #1f2335;
  color: white;
  .container {
    width: 720px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    @media (min-width: 768px) {
      flex-direction: row-reverse;
    }
    .testimonyContent {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      @media (min-width: 768px) {
        text-align: start;
        align-items: flex-start;
      }
      .testimonyMessage {
        margin-bottom: 16px;
        font-size: 20px;
        font-weight: 500;
        @media (min-width: 768px) {
          font-size: 40px;
        }
      }
      .testimonyName {
        @media (min-width: 768px) {
          font-size: 30px;
          font-weight: bold;
        }
      }
    }
    img {
      height: 256px;
    }
  }
}

.howItWorkSection {
  .container {
    padding: 16px;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    h2 {
      margin-bottom: 48px;
      font-size: 32px;
      font-weight: 700;
      text-align: center;
      @media (min-width: 768px) {
        font-size: 64px;
      }
    }
    article {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      gap: 16px;
      @media (min-width: 768px) {
        flex-direction: row;
        gap: 128px;
        &:nth-child(odd) {
          flex-direction: row-reverse;
        }
      }
      img {
        height: 180px;
        width: 100%;
        margin-bottom: 16px;
        border-radius: 24px;
        object-fit: cover;
        filter: drop-shadow(0px 18px 29px rgba(131, 153, 173, 0.5));
        @media (min-width: 768px) {
          height: 320px;
        }
      }
      article {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        gap: 16px;
        h3 {
          font-size: 24px;
          font-weight: 700;
        }
        p {
          color: #9fa4b9;
        }
        .buttons {
          display: flex;
          flex-direction: row;
          gap: 16px;
        }
      }
    }
  }
}
