.coursesListSection {
  .container {
    margin: 10px auto;
  }
  .coursesListSectionHeader {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      max-width: 1240px;
    }
  }
  h2 {
    font-size: 40px;
    font-weight: 500;
  }
  a.seeMoreLink {
    font-size: 18px;
    font-weight: 500;
    color: #6f7e8f;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    svg {
      height: 16px;
      width: 16px;
    }
  }
  .cardList {
    padding: 32px 0px;
    display: flex;
    flex-direction: row;
    position: relative;
  }
}
