.container {
  max-width: 100%;
  margin: 0 auto;
  @media (min-width: 768px) {
    max-width: 1240px;
  }
}

.howItWorkSection {
  .container {
    padding: 16px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;

    h2 {
      margin-bottom: 30px;
      font-size: 32px;
      font-weight: 700;
      text-align: center;
      @media (min-width: 768px) {
        font-size: 32px;
      }
    }
    article {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 20px;
      padding-top: 20px;
      @media (min-width: 768px) {
        flex-direction: row;
        gap: 128px;
        &:nth-child(odd) {
          flex-direction: row-reverse;
        }
      }
      img {
        height: 180px;
        width: 100%;
        margin-bottom: 16px;
        border-radius: 24px;
        object-fit: cover;
        filter: drop-shadow(0px 18px 29px rgba(131, 153, 173, 0.5));
        @media (min-width: 768px) {
          height: 300px;
        }
      }
      div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 16px;
        h3 {
          font-size: 24px;
          font-weight: 700;
        }
        p {
          color: #9fa4b9;
        }
        .buttons {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
        }
      }
    }
  }
}
