.container {
  max-width: 100%;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 1240px;
  }
}

.bottomHeroSection {
  margin-top: 50px;
  background-image: url('/assets/index-page/hero-background.svg');
  background-size: cover;
  background-color: #1f2335;
  color: white;

  .container {
    padding: 50px 50px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 1240px;
    @media (min-width: 768px) {
      flex-direction: row;
    }
    gap: 32px;
    article {
      margin-bottom: 75px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      max-width: 300px;
      margin-right: 200px;
      h2 {
        font-size: 32px;
        font-weight: 700;
        @media (min-width: 768px) {
          font-size: 32px;
        }
      }
      p {
        color: #9fa4b9;
        margin-bottom: 25px;
      }
    }
    .bottomHeroImage {
      width: 440px;
      position: absolute;
      bottom: 0;
      left: 200px;
    }
  }
}
