.tabIsSelectedIndicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -10px;
}

.tabIsSelectedIndicatorElipse {
  height: 12px;
  border-radius: 12px;
  background: var(--custom-color-primary);
  box-shadow: 0px -2px 10px rgba(241, 155, 26, 0.5);
}

.tabIsSelectedIndicatorTriangle{
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--custom-color-primary);
}