@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* importing preflight.css for CSS reset */
@import url("https://unpkg.com/tailwindcss@3.1.8/src/css/preflight.css");

:root {
  --custom-color-primary: #ffb703;
  --custom-color-secondary: #060c44;
}

body {
  font-family: Heebo, Arial, Helvetica, sans-serif;
}
